@charset "UTF-8";
/******************************************************************
	FILE	        :	core.css
	AUTHOR	        :	#559
	LAST UPDATED	:	2024/10/12

	DESC	:
	core stylesheet including debug testing
	and base styles for all themes and layouts.

	this file called in base CSS file for
	theme/layout.

	GITHUB	:
	@import url("https://biwhaleshark.github.io/CSShiny/core.css");
******************************************************************/
@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");
:root:has(#layout-toggle:checked) html {
    font-size: 18px;
    box-sizing: border-box !important;
}
:root:has(#layout-toggle:checked) *,
:root:has(#layout-toggle:checked) ::before,
:root:has(#layout-toggle:checked) ::after {
    box-sizing: border-box !important;
}
:root:has(#layout-toggle:checked) body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 1rem;
    line-height: 1;
    font-weight: 300;
    font-family: var(--text-font);
    text-rendering: optimizeLegibility;
}
:root:has(#layout-toggle:checked) .dev {
    border: 2px dashed red !important;
}
:root:has(#layout-toggle:checked) #bodyi,
:root:has(#layout-toggle:checked) #topbanneri,
:root:has(#layout-toggle:checked) #titleimg,
:root:has(#layout-toggle:checked) .trans {
    display: var(--image-display);
}
:root:has(#layout-toggle:checked) #content,
:root:has(#layout-toggle:checked) .sf-menu ul,
:root:has(#layout-toggle:checked) .ui-widget-header {
    background-image: var(--bg-image-display);
}
:root:has(#layout-toggle:checked) #topbanner,
:root:has(#layout-toggle:checked) .sf-menu,
:root:has(#layout-toggle:checked) #menu_holder,
:root:has(#layout-toggle:checked) #footer {
    display: var(--default-content);
}
:root:has(#layout-toggle:checked) .highlight_me,
:root:has(#layout-toggle:checked) .highlight_me td {
    background: transparent !important;
}
:root:has(#layout-toggle:checked) #cattery_infobox .add_small_margins,
:root:has(#layout-toggle:checked) #cattery_menu li,
:root:has(#layout-toggle:checked) .ui-widget-content,
:root:has(#layout-toggle:checked) .ui-widget-header,
:root:has(#layout-toggle:checked) .ui-state-active,
:root:has(#layout-toggle:checked) .ui-widget-content .ui-state-active,
:root:has(#layout-toggle:checked) .ui-widget-header .ui-state-active,
:root:has(#layout-toggle:checked) .mweorbox table tbody tr td div,
:root:has(#layout-toggle:checked) .tborder,
:root:has(#layout-toggle:checked) .ui-state-hover,
:root:has(#layout-toggle:checked) .ui-widget-content .ui-state-hover,
:root:has(#layout-toggle:checked) .ui-widget-header .ui-state-hover,
:root:has(#layout-toggle:checked) .ui-state-focus,
:root:has(#layout-toggle:checked) .ui-widget-content .ui-state-focus,
:root:has(#layout-toggle:checked) .ui-widget-header .ui-state-focus {
    border-color: transparent !important;
}
:root:has(#layout-toggle:checked) html,
:root:has(#layout-toggle:checked) body {
    background-color: #fff;
}
:root:has(#layout-toggle:checked) #contentholder form center .tborder {
    background-color: #fff;
    display: flex;
    width: 100% !important;
}
:root:has(#layout-toggle:checked) #contentholder form center .tborder tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}
:root:has(#layout-toggle:checked) .theader {
    background-color: var(--settings-bg-color) !important;
    display: flex;
    justify-content: center;
}
:root:has(#layout-toggle:checked) .theader td {
    color: var(--settings-text-color);
}
:root:has(#layout-toggle:checked) .trow1 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    color: #000;
}
:root:has(#layout-toggle:checked) .trow1 td {
    color: var(--text-dark);
    background-color: #fff;
    color: #000;
}
:root:has(#layout-toggle:checked) .trow1 td:nth-child(even) {
    width: 80%;
    text-align: left;
}
:root:has(#layout-toggle:checked) .trow1 td:nth-child(odd) {
    width: 20%;
    text-align: left;
}
:root:has(#layout-toggle:checked) input[type=text],
:root:has(#layout-toggle:checked) textarea,
:root:has(#layout-toggle:checked) textarea,
:root:has(#layout-toggle:checked) input[type=text],
:root:has(#layout-toggle:checked) input[type=password],
:root:has(#layout-toggle:checked) select,
:root:has(#layout-toggle:checked) input.pretty_dropdown_text,
:root:has(#layout-toggle:checked) .pretty_dropdown_options {
    width: 95%;
    float: left;
    background: #fff;
    color: #000;
}

.csshiny-inactive {
    display: block;
}

.csshiny-active {
    display: none !important;
}

:root:has(#layout-toggle:checked) .csshiny-inactive {
    display: none;
}
:root:has(#layout-toggle:checked) .csshiny-active {
    display: block;
}

.csshiny-signature {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
}

.csshiny-credit {
    justify-content: center;
    align-items: center;
    color: #fff !important;
    text-align: center;
    /* Default to hidden */
    display: none;
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Translucent background */
    background: rgba(0, 0, 0, 0.85);
    /* Unhide the lightbox when it's the target */
}
.csshiny-credit:target {
    display: flex;
}
.csshiny-credit .csshiny-exit {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    transform: translateY(-40px);
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    padding: 14px;
}
.csshiny-credit .csshiny-exit::before {
    content: "";
    font-family: FontAwesome;
}
.csshiny-credit .csshiny-toggle {
    display: none;
}
.csshiny-credit span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
}
.csshiny-credit input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.csshiny-credit label {
    cursor: pointer;
    text-indent: -9999px;
    width: 75px;
    height: 35px;
    background: #808080;
    display: block;
    border-radius: 100px;
    position: relative;
}
.csshiny-credit label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.csshiny-credit input:checked + label {
    background: #293573;
}
.csshiny-credit input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.csshiny-credit label:active:after {
    width: 60px;
}
.csshiny-credit body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
