/************************************************
	FILE	:	core.css
	AUTHOR	:	#559
	DATE	:	2023/11/24

	DESC	:
	core stylesheet including debug testing
	and base styles for all themes and layouts.

	this file called in base CSS file for
	theme/layout.

	GITHUB	:
	@import url("https://biwhaleshark.github.io/CSShiny/core.css");
************************************************/
@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");
:root:has(#on:checked) html {
    font-size: var(--base-font-size);
    box-sizing: border-box !important;
}
:root:has(#on:checked) *,
:root:has(#on:checked) ::before,
:root:has(#on:checked) ::after {
    box-sizing: border-box !important;
}
:root:has(#on:checked) body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
    line-height: 1;
    font-weight: 300;
    font-family: var(--text-font);
    text-rendering: optimizeLegibility;
}
:root:has(#on:checked) .dev {
    border: 2px dashed red !important;
}
:root:has(#on:checked) #bodyi,
:root:has(#on:checked) #topbanneri,
:root:has(#on:checked) #titleimg,
:root:has(#on:checked) .trans {
    display: var(--image-display);
}
:root:has(#on:checked) #content,
:root:has(#on:checked) .sf-menu ul,
:root:has(#on:checked) .ui-widget-header {
    background-image: var(--bg-image-display);
}
:root:has(#on:checked) #topbanner,
:root:has(#on:checked) .sf-menu,
:root:has(#on:checked) #menu_holder,
:root:has(#on:checked) #footer {
    display: var(--default-content);
}
:root:has(#on:checked) .highlight_me, :root:has(#on:checked) .highlight_me td {
    background: transparent !important;
}
:root:has(#on:checked) #cattery_infobox .add_small_margins,
:root:has(#on:checked) #cattery_menu li,
:root:has(#on:checked) .ui-widget-content,
:root:has(#on:checked) .ui-widget-header,
:root:has(#on:checked) .ui-state-active,
:root:has(#on:checked) .ui-widget-content .ui-state-active,
:root:has(#on:checked) .ui-widget-header .ui-state-active,
:root:has(#on:checked) .mweorbox table tbody tr td div,
:root:has(#on:checked) .tborder,
:root:has(#on:checked) .ui-state-hover,
:root:has(#on:checked) .ui-widget-content .ui-state-hover,
:root:has(#on:checked) .ui-widget-header .ui-state-hover,
:root:has(#on:checked) .ui-state-focus,
:root:has(#on:checked) .ui-widget-content .ui-state-focus,
:root:has(#on:checked) .ui-widget-header .ui-state-focus {
    border-color: transparent !important;
}
:root:has(#on:checked) html,
:root:has(#on:checked) body {
    background-color: white;
}
:root:has(#on:checked) #contentholder form center .tborder {
    background: var(--descbox-bg-color);
    display: flex;
}
:root:has(#on:checked) #contentholder form center .tborder tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}
:root:has(#on:checked) .theader {
    background-color: var(--settings-bg-color) !important;
    display: flex;
    justify-content: center;
}
:root:has(#on:checked) .theader td {
    color: var(--settings-text-color);
}
:root:has(#on:checked) .trow1 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
:root:has(#on:checked) .trow1 td {
    color: var(--text-dark);
}
:root:has(#on:checked) .trow1 td:nth-child(even) {
    width: 80%;
    text-align: left;
}
:root:has(#on:checked) .trow1 td:nth-child(odd) {
    width: 20%;
    text-align: left;
}
:root:has(#on:checked) input[type=text],
:root:has(#on:checked) textarea {
    width: 95%;
    float: left;
}

.layout-toggle {
    background: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px 0 0 0px;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.layout-toggle label[for=off] {
    display: none;
}
.layout-toggle label[for=on] {
    display: none;
}
