/************************************************
	FILE	:	core.css
	AUTHOR	:	#559

	DESC	:
	core stylesheet including debug testing
	and base styles for all themes and layouts.

	this file called in base CSS file for
	theme/layout.

	GITHUB	:
	@import url("https://biwhaleshark.github.io/CSShiny/core.css");
************************************************/

/** Imported Stylesheets ***************/
@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");

html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: black;
	font-size: 1rem;
	line-height: 1;
	font-weight: 300;
	font-family: var(--text-font);
	text-rendering: optimizeLegibility;
}

/* Dev Testing */
.dev {
	border: 2px dashed red;
}

.highlight_me, .highlight_me td {
	background: transparent !important;
}

/* remove borders */
#cattery_infobox .add_small_margins,
#cattery_menu li,
.ui-widget-content,
.ui-widget-header,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.mweorbox table tbody tr td div,
.tborder,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border-color: transparent !important;
}

/* Set default background color */
html,
body {
    background-color: white;
}

/************************************************
	Responsive Cattery Settings
************************************************/
#contentholder form center .tborder {
	background: var(--descbox-bg-color);
	display: flex;
}

#contentholder form center .tborder tbody {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.theader {
	background-color: var(--settings-bg-color) !important;
	display: flex;
	justify-content: center;
}

.theader td {
	color: var(--settings-text-color);
}

.trow1 {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.trow1 td {
	color: var(--text-dark);
}

.trow1 td:nth-child(even) {
	width: 80%;
	text-align: left;
}

.trow1 td:nth-child(odd) {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 11%;
}

.trow1:nth-child(9) td:nth-child(2n+1) {
	align-self: flex-start;
}

input[type="text"],
textarea {
	width: 95%;
	float: left;
}

/************************************************
	Cattery On/Off Button Styles
************************************************/
:root:has(#on:checked) #mpopup {
	background: var(--descbox-img);
	color: transparent;
	margin: auto;
	left: unset !important;
}

:root:has(#on:checked) #popupclose {
	color: var(--link-light);
}

:root:has(#on:checked) #mpopup .theader {
  background: var(--ltteal);
  color: var(--text-dark) !important;
}

:root:has(#on:checked) .trow2,
:root:has(#on:checked) .trow2 table,
:root:has(#on:checked) .trow2 tr,
:root:has(#on:checked) .trow2 td {
  background: var(--ltteal);
}

:root:has(#on:checked) input[type="text"],
:root:has(#on:checked) textarea {
	font-family: var(--font-family-2) !important;
}

.layout-toggle {
    background: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px 0 0 0px;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
:root:has(#on:checked) .layout-toggle label[for=off] {
      display: none;
}

:root:has(#off:checked) .layout-toggle label[for=on] {
      display: none;
}

:root:has(#off:checked) .main-wrap .header .nav,
:root:has(#off:checked) .masthead-wrap .utilities,
:root:has(#off:checked) .main-wrap .cattery-name {
display: none;
}
