:root {
    --font-size: 16px;
}

#contentholder center table .trow3 {
    box-sizing: border-box;
    width: min(400px, 100% - 1rem);
    margin-inline: auto;
    display: block;
    height: auto;
    font-size: var(--font-size);
    line-height: 1.4;
}
#contentholder center table .trow3 * {
    font-size: var(--font-size);
}
#contentholder center table .trow3 br {
    display: none;
}
#contentholder center table .trow3 h1,
#contentholder center table .trow3 h2,
#contentholder center table .trow3 h3,
#contentholder center table .trow3 h4,
#contentholder center table .trow3 h5,
#contentholder center table .trow3 h6 {
    margin: 0;
    font-family: Georgia, serif;
}
#contentholder center table .trow3 h1 {
    font-size: calc(var(--font-size) * 3.4);
}
#contentholder center table .trow3 h2 {
    font-size: calc(var(--font-size) * 3);
}
#contentholder center table .trow3 h3 {
    font-size: calc(var(--font-size) * 1.875);
}
#contentholder center table .trow3 h4 {
    font-size: calc(var(--font-size) * 1.5);
}
#contentholder center table .trow3 h5 {
    font-size: calc(var(--font-size) * 1.25);
}
#contentholder center table .trow3 h6 {
    font-size: calc(var(--font-size) * 1.125);
}
#contentholder center table .trow3 .align-right {
    text-align: right;
    line-height: 1;
}
#contentholder center table .trow3 .right {
    text-align: right;
    float: right;
    max-width: 50%;
}
#contentholder center table .trow3 .left {
    text-align: left;
    float: left;
    max-width: 50%;
}
#contentholder center table .trow3 .center {
    text-align: center;
}
#contentholder center table .trow3 .quote {
    margin-inline: calc(var(--font-size) * 2);
}
#contentholder center table .trow3 .code {
    background: #000;
    color: #fff;
    margin-inline: calc(var(--font-size) * 2);
    padding: 10px;
    border-radius: 10px;
    line-height: 18px;
}
#contentholder center table .trow3 .code i {
    color: #00e63a;
}
#contentholder center table .trow3 > * + * {
    margin-top: 1em !important;
}
#contentholder center table .trow3 #index {
    background: #fff;
    height: auto;
    width: 200px;
    left: 870px;
    top: 130px;
    position: fixed;
    padding: 15px;
    border: 3.5px solid #000;
    border-radius: 10px;
    font-size: 14px;
}
