/************************************************
	FILE	:	layout_onoff.css
	AUTHOR	:	#559

	DESC	:
	Styles button that allows layouts 
	to be turned on/off

	GITHUB	:
	@import url("https://biwhaleshark.github.io/CSShiny/core/layout_onoff.css");
************************************************/
  
