/************************************************
	FILE	        :	    styles.css
	LAYOUT	        :	    STARTER
    LAST UPDATED    :	    2024/10/12
    Created by #559.    Powered by CSShiny.

	DESC	:
	main CSS file associated with theme/layout.
	contains all CSS required for theme/layout,
	including calls to component stylesheets.

	this file called in the base/starter HTML file
	for theme/layout.

	GOLIVE DELETE: called in HTML base file.
	main CSS file.
	calls:
	- core file
	- css componment files for layout
*************************************************

*************************************************
	Imported Styles
************************************************/
@import url("https://biwhaleshark.github.io/CSShiny/core.css");

/************************************************
	Variables
************************************************/
:root {
    --holder-width: 90%;
    --descbox-width: 100%;
    --holder-margin: 3rem 0;
    --descbox-margin: 1rem 0;
    --descbox-padding: 1rem;

    //// Core Variables
    --settings-text-color: --button-text;
    --settings-bg-color: --button-bg;

    //// User Facing Variables
    // Base Colors
    --color1: #ffa7a7;
    --color2: #C44D58;
    --color3: #C7F464;
    --color4: #4ECDC4;
    --color5: #556270;
    --white: white;
    --black: black;

    // Fonts
    --text-font: "Arial", sans-serif;
    --header-font: var(--text-font);

    // Text Colors
    --text-dark: var(--black);
    --text-light: var(--white;);
    --header-dark: var(--text-dark);
    --header-light: var(--text-light);

    // Background Colors
    --descbox-bg-color: var(--white);
    --contentholder-bg-color: transparent;
    --body-bg-color: var(--color4);
    --bg-image: null;
    --bg-repeat: null;
    --bg-size: null;

    // Link Colors
    --link-dark: var(--text-dark);
    --link-dark-hover: var(--link-dark);
    --link-light: var(--text-light);
    --link-light-hover: var(--link-light);

    // Button Colors
    --button-text: var(--black);
    --button-text-hover: var(--white);
    --button-bg: var(--white);
    --button-bg-hover: var(--black);
}

/************************************************
	Element Display Toggles
************************************************/
:root:has(#layout-toggle:checked) {
    body {
        .sf-menu { display: none; }
        #bodyi { display: none; }

        #holder {
            #topbanner {
                display: none; 
                #topbanneri { display: none; }
                #layoutuinfo { display: none; }
                #gametime { display: none; }
                #addbookmark { display: none; }
            }

            #content #contentholder {
                .spacer, 
                .clearer { display: none; }
                .titlebar #titleimg { display: none; }
                #cattery_infobox { display: none; }
                #cattery_descbox > i:last-of-type { display: none; }

                // Optional Hidden
                .titlebar { display: none; }
                & > .add_small_margins { display: none; }
            }

            #bottombanner { display: none; }
            #footer { display: none; }
        }
    }
}
/************************************************
	Resets
************************************************/
:root:has(#on:checked) {
    body {
        background-color: var(--body-bg-color) !important;
        background: var(--bg-image);
        background-repeat: var(--bg-repeat);
        background-size: var(--bg-size);
        font-size: 1rem;
    }

    #holder {
        background: transparent;
        position: relative;
        width: 100%;
    }

    body,
    #holder {
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #content {
        background: var(--contentholder-bg-color);
        padding: 0;
        margin: var(--holder-margin);
        width: var(--holder-width);
        left: 0;
    }

    #contentholder {
        width: 100%;
        margin: 0;
        left: 0;
    }

    #cattery_descbox {
        width: var(--descbox-width);
        float: none;
        right: unset;
        padding: var(--descbox-padding);
        margin: var(--descbox-margin);
        background: var(--descbox-bg-color);
    }

    #cattery_infobox {
        background: transparent;
        padding: 0;
        float: none;
        left: 0;
    }

    .titlebar {
        width: 100%;
        margin: 0;
    }

    #titletxt {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }

    .add_small_margins {
        margin: 0;
    }

    // Link Defaults
    a,
    a:link,
    a:visited {
        color: var(--link-dark-hover);

        &:hover,
        &:active,
        &:focus {
            color: var(--link-dark-hover);
        }
    }

    //// Mweor Tabs
    // Adjusts tab width below
    .ui-tabs-nav {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .ui-tabs .ui-tabs-nav li {
        height: 35px;
        flex: 0 1 10%;
        padding: 6px 8px 6px 8px;
        white-space: break-spaces;
        float: none;
    }

    .ui-tabs .ui-tabs-nav li a {
        height: 35px;
        width: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ui-widget-header {
        background: transparent;
        display: flex;
        width: 100%;
        padding: 0;
    }

    .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-widget-content .ui-state-default {
        background: transparent;
    }

    .button,
    .button_tall {
        color: var(--button-text);
        background: va(--button-bg);
        background-color: unset !important;
    }

    .button:hover,
    .button_tall:hover {
        color: var(--button-text-hover);
        background: va(--button-bg-hover);
        background-color: unset !important;
    }
}

/************************************************
	Styles
************************************************/
