/************************************************
	FILE	:	styles.css
	THEME	:	STARTER
	AUTHOR	:	#559
	FOR		:	USERID/TOPICID

	DESC	:
	main CSS file associated with theme/layout.
	contains all CSS required for theme/layout,
	including calls to component stylesheets.

	this file called in the base HTML file
	for theme/layout.

	GOLIVE DELETE: called in HTML base file.
	main CSS file.
	calls:
	- core file
	- css componment files for layout
*************************************************

*************************************************
	Imported Styles
************************************************/
@import url("https://biwhaleshark.github.io/CSShiny/core.css");
/************************************************
	Variables
************************************************/
:root {
    --holder-width: 90%;
    --descbox-width: 100%;
    --holder-margin: 3rem 0;
    --descbox-margin: 1rem 0;
    --descbox-padding: 1rem;
    --settings-text-color: --button-text;
    --settings-bg-color: --button-bg;
    --color1: #ffa7a7;
    --color2: #C44D58;
    --color3: #C7F464;
    --color4: #4ECDC4;
    --color5: #556270;
    --white: white;
    --black: black;
    --text-font: "Arial", sans-serif;
    --header-font: var(--text-font);
    --text-dark: var(--black);
    --text-light: var(--white;);
    --header-dark: var(--text-dark);
    --header-light: var(--text-light);
    --descbox-bg-color: var(--white);
    --contentholder-bg-color: transparent;
    --body-bg-color: var(--black);
    --bg-image: null;
    --bg-repeat: null;
    --bg-size: null;
    --link-dark: var(--text-dark);
    --link-dark-hover: var(--link-dark);
    --link-light: var(--text-light);
    --link-light-hover: var(--link-light);
    --button-text: var(--black);
    --button-text-hover: var(--white);
    --button-bg: var(--white);
    --button-bg-hover: var(--black);
}

/************************************************
	Element Display Toggles
************************************************/
:root:has(#on:checked) body #bodyi {
    display: none;
}
:root:has(#on:checked) body #holder #topbanner #topbanneri {
    display: none;
}
:root:has(#on:checked) body #holder #topbanner #addbookmark {
    display: none;
}
:root:has(#on:checked) body #holder #content #contentholder .spacer,
:root:has(#on:checked) body #holder #content #contentholder .clearer {
    display: none;
}
:root:has(#on:checked) body #holder #content #contentholder .titlebar #titleimg {
    display: none;
}
:root:has(#on:checked) body #holder #content #contentholder #cattery_infobox {
    display: none;
}
:root:has(#on:checked) body #holder #content #contentholder #cattery_descbox > i:last-of-type {
    display: none;
}
:root:has(#on:checked) body #holder #bottombanner {
    display: none;
}
:root:has(#on:checked) body #holder #footer {
    display: none;
}

/************************************************
	Resets
************************************************/
:root:has(#on:checked) body {
    background-color: var(--body-bg-color) !important;
    background: var(--bg-image);
    background-repeat: var(--bg-repeat);
    background-size: var(--bg-size);
}
:root:has(#on:checked) #holder {
    background: transparent;
    position: relative;
    width: 100%;
}
:root:has(#on:checked) body,
:root:has(#on:checked) #holder {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
:root:has(#on:checked) #content {
    background: var(--contentholder-bg-color);
    padding: 0;
    margin: var(--holder-margin);
    width: var(--holder-width);
    left: 0;
}
:root:has(#on:checked) #contentholder {
    width: 100%;
    margin: 0;
    left: 0;
}
:root:has(#on:checked) #cattery_descbox {
    width: var(--descbox-width);
    float: none;
    right: unset;
    padding: var(--descbox-padding);
    margin: var(--descbox-margin);
    background: var(--descbox-bg-color);
}
:root:has(#on:checked) #cattery_infobox {
    background: transparent;
    padding: 0;
    float: none;
    left: 0;
}
:root:has(#on:checked) .titlebar {
    width: 100%;
    margin: 0;
}
:root:has(#on:checked) #titletxt {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
:root:has(#on:checked) .add_small_margins {
    margin: 0;
}
:root:has(#on:checked) a,
:root:has(#on:checked) a:link,
:root:has(#on:checked) a:visited {
    color: var(--link-dark-hover);
}
:root:has(#on:checked) a:hover, :root:has(#on:checked) a:active, :root:has(#on:checked) a:focus,
:root:has(#on:checked) a:link:hover,
:root:has(#on:checked) a:link:active,
:root:has(#on:checked) a:link:focus,
:root:has(#on:checked) a:visited:hover,
:root:has(#on:checked) a:visited:active,
:root:has(#on:checked) a:visited:focus {
    color: var(--link-dark-hover);
}
:root:has(#on:checked) .ui-tabs-nav {
    display: flex !important;
    flex-wrap: wrap !important;
}
:root:has(#on:checked) .ui-tabs .ui-tabs-nav li {
    height: 35px;
    flex: 0 1 10%;
    padding: 6px 8px 6px 8px;
    white-space: break-spaces;
    float: none;
}
:root:has(#on:checked) .ui-tabs .ui-tabs-nav li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root:has(#on:checked) .ui-widget-header {
    background: transparent;
}
:root:has(#on:checked) .ui-state-default,
:root:has(#on:checked) .ui-widget-header .ui-state-default,
:root:has(#on:checked) .ui-widget-content .ui-state-default {
    background: transparent;
}
:root:has(#on:checked) .button,
:root:has(#on:checked) .button_tall {
    color: var(--button-text);
    background: va(--button-bg);
    background-color: unset !important;
}
:root:has(#on:checked) .button:hover,
:root:has(#on:checked) .button_tall:hover {
    color: var(--button-text-hover);
    background: va(--button-bg-hover);
    background-color: unset !important;
}

/************************************************
	Styles
************************************************/
